body
{
    background-color:mistyrose;
}

h1
{
    text-align: center;
    margin: 60px;
}

#essay {
  margin-right: 80px;
  margin-left: 80px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

p1 {
     padding-bottom: 100px;
     margin-right: 100px;
     margin-left: 100px;
}







